@import 'bootstrap/css/bootstrap-theme.min.css';
@import 'bootstrap/css/bootstrap.min.css';
.editor-container {
  position: absolute;
  height: 90%;
  width: 90%;
}
.editor-container .text-editor {
  height: 100%;
  width: 100%;
}
